{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
    <script type="text/javascript">
        var user = "{{request.user}}";
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie("csrftoken");
    </script>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'app/images/nikelogo.png' %}" width="50" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sản phẩm
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Air Force 1</a></li>
                        <li><a class="dropdown-item" href="#">Air Jordan 1</a></li>
                        <li><a class="dropdown-item" href="#">Air Max</a></li>
                        <li><a class="dropdown-item" href="#">Dunk</a></li>
                        <li><a class="dropdown-item" href="#">Cortez</a></li>
                        <li><a class="dropdown-item" href="#">Blazer</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'cart'%}">Đơn hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
            <form method='POST' action="{% url 'search' %}" class="d-flex" role="search">
                {% csrf_token %}
                <input name="searched" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
            <div class='form-inline my-2 my-lg-0' style='{% if user_login == "show" %}visibility: visible;{% else %}visibility: hidden;{% endif %}'>
              <span>Hi! {{request.user}}</span>
              <span><a href='{% url "logout"%}'>Logout</a></span>
          </div>

          <div class='form-inline my-2 my-lg-0' style='visibility: {{user_not_login}}'>
              <a class="nav-link" href= {%url 'login' %}>Login</a>

              <a class="nav-link" href= {%url 'register' %}>Sign Up</a>
          </div>

        <div class='form-inline my-2 my-lg-0'>
            <a href="{% url 'cart' %}">
                <img id="cart-icon" src="{% static 'app/images/cart.png' %}" alt="Cart" />
            </a>
        </div>
        <p id='cart-total' style="margin-top: -25px; ">{{cartItems}}</p>
    </div>
</nav>
<!--main body-->
{% block banner-slider %}{% endblock banner-slider%}
{% block main-content%}{% endblock main-content%}
{% block cart_content %}{% endblock cart_content %}
{% block content_checkout %}{% endblock content_checkout %}
{% block register %} {% endblock register %}
{% block login %}{% endblock login %}
{% block search %}{% endblock search %}
<!--footer-->
<footer class="-- fluid bg-success text-center fixed-bottom p-2 mt-5 w-100">
    copyright 2022
</footer>
<script src="{% static 'app/js/cart.js' %}"></script>
</body>
</html>
